body{
    background-color: #4E697E;
    border-left: 0px;
    border-right: 0px;
    cursor: default;
}

h1{
    cursor: text;
}

h2{
    cursor: text;
}

p{
    cursor: text;
}

h3{
    cursor: text;
    text-align: center;
}

hr{
    background-color: black;
    border-width: 0px;
    height: 2px;
}

img{
    width: 5%;
}

.title{
    background-image: url(imgs/banner.jpg);
    color: #00008B;
    display: block;
    text-align: center;
}

.content{
    display: inline-block;
    height: 100%;
    position: initial;
}

.divright{
    background-color: #7cbbe6;
    border: 2px solid black;
    float: right;
    height: 100%;
    text-align: center;
    width: 40%;
}

.divright img{
    border: 1px solid black;
    width: 70%;
}

.divleft{
    background-color: #528cb8;
    border: 2px solid black;
    float: left;
    height: 25%;
    text-align: center;
    width: 59%;
}

.divleft iframe{
    border: 1px solid black;
}

.myButton{
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:15px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 17px;
    position: relative;
	text-decoration:none;
	text-shadow:2px 0px 0px #528ecc;
}
.myButton:hover{
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active{
	position:relative;
	top:1px;
}

.more{
    float: none;
    position: unset;
    text-align: center;
}

.more a{
    text-align: center;
}

blockquote.twitter-tweet{
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 0 16px 16px 16px;
    max-width: 468px;
}

blockquote.twitter-tweet p{
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}

blockquote.twitter-tweet a{
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus{
    text-decoration: underline;
}