td {
	/*width:24pt;
	height:24pt;*/
	width: 25px;
	height: 25px;
	border-collapse:collapse;
	border-color: black;
	border-style: solid;
	/*border-width: 1pt 1pt 1pt 1pt;*/
	font-size:150%;
}

table {
	min-width: 250px;
	text-align:center;
	border-spacing:0pt;
	font-family:'Arial Unicode MS';
	border-collapse:collapse;
	border-color: black;
	border-style: solid;
	/*border-width: 1pt 1pt 1pt 1pt;*/
}

button{
	min-width: 150px;
}

body{
	font-size: 110%;
	background-color: #e2dcdce0;
}

p{
	text-align: justify;
}

h2{
	text-align: center;
}

.tables{
	display: inline-block;
}
