td {
	width:24pt;
	height:24pt;
	border-collapse:collapse;
	border-color: black;
	border-style: solid;
	border-width: 1pt 0pt 0pt 1pt;
	font-size:150%;
}

table {
	text-align:center;
	border-spacing:0pt;
	font-family:'Arial Unicode MS';
	border-collapse:collapse;
	border-color: black;
	border-style: solid;
	border-width: 1pt 1pt 1pt 1pt;
}
