body{
    background-color: #5e82a7;
}


form{
    background-color: #255075;
    border: black;
    border-radius: 1.5%;
    border-style: groove;
    display: block;
    height: 100%;
    min-width: 350px;
    width: fit-content;
}

hr{
    background-color: black;
    border-width: 0px;
    height: 4px;
}

input{
    background-color: steelblue;
    color: azure;
    font-size: 125%;
    border: 1%;
    border-color: cornflowerblue;
    border-radius: 1%;
    border-width: 1%;
    margin: 0.8%;
    min-width: 60px;
    padding: 1%;
    text-align: center;
    width: 10%;
}

.visor{
    width: 90%;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}